<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rudrakaniya.weatherfeed">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.rudrakaniya.weatherfeed.SignInActivity"></activity>
        <activity android:name="com.rudrakaniya.weatherfeed.AboutUs" />
        <activity android:name="com.rudrakaniya.weatherfeed.Settings" />
        <activity android:name="com.rudrakaniya.weatherfeed.ChangeCityController" />
        <activity
            android:name="com.rudrakaniya.weatherfeed.SplashActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rudrakaniya.weatherfeed.MainActivity" />
    </application>

</manifest>